body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.description{
  white-space: pre-wrap;
}

input {
  background-color: #f1f3f4;
  border-radius: 2px;
  border-width: 0;
  color: #5f6368;
  font-size: 1em;
  height: 45px;
  line-height: 20px;
  margin: 0;
  margin-top: 10px;
  max-width: 100%;
  padding: 8px 8px 8px 8px;
  transition-delay: 0s, 0s;
  transition-duration: 0.2s, 0.2s;
  transition-property: background-color, color;
  transition-timing-function: ease, ease;
  vertical-align: middle;
  width: 100%;
}


.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.High {
  background-color: #ffffff;
  color: #000000; 
}

.Low {
  background-color: #ffffff;
  color: #000000;
}

.Date {
  background-color: #ffffff;
  color: #000000;
}
.UVIndex {
  background-color: #ffffff;
  color: #000000;
}

.Temperature {
  background-color: #e91e1e;
  color: white;
}

.Humidity {
  background-color: #0fd320;
  color: white;
}

.WindSpeed  {
  background-color: #d2dd2f;
  color: white;
}

